# Visual Studio
.vs/
*.user
*.suo
*.pdb
*.obj
*.tlog
*.log
*.idb
*.ipch
*.exe
*.dll
*.lib
*.cache
*.db
*.ilk
*.aps
*.ncb
*.opendb
*.VC.db
*.VC.opendb
x64/
Debug/
Release/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Object files
*.o
*.obj

# Executables
*.exe

# Debug files
*.pdb
*.ilk
